.checkout-container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.checkout-form {
  display: flex;
  flex-direction: column;
}

.checkout-form input,
.checkout-form textarea,
.checkout-form select {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
}

.checkout-form button {
  background-color: #282c34;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: #1a1e24;
}
